<div class="container">
  <h1>Active Sales</h1>
  <ul>
  <% @sales.each do |sale| %>
    <li><%= sale.name %> (<%= sale.discount %>% off) <%= link_to "End Sale", end_sale_admin_sale_path(sale), method: :post, confirm: "Are you sure you want to end this sale?"  %></li>
  <% end %>
    </ul>
</div>
