<h1>Greetings from Technically Employed!</h1>

<p>
You have successfully applied to your favorite companies. Good luck with
your applications and potential interviews. If there's anything we can do to
improve your experience here, feel free to email us at
admin@technicallyhired.
</p>

<h5>Sincerely,</br></br>Technically Employed Team</h5>




