ApplyForJobsMailer#notify_admin
<h1>Welcome to Technically Employed!</h1>

<p>t's our job to help you find a job. If there's anything we can do to
  improve your experience here, feel free to hit the 'Contact Us' link at
  the bottom of your browser. In the meantime, best of luck and happy
  hunting!</p>

<h5>Sincerely,</br></br>Technically Employed Team</h5>

<%= @greeting %>, find me in app/views/apply_for_jobs_mailer/notify_admin.text.erb
