<h1>Greetings from Technically Employed!</h1>

<p>
A developer has applied for a job opening in your company.
Good luck with your applications and potential interviews.

If there's anything we can do to
improve your experience here, feel free to email us at
admin@technicallyhired.
</p>

Resume can be found at link_to "Resume", <%= @user.resume %>

<h5>Sincerely,</br></br>Technically Employed Team</h5>

