<div class="container">

  <div class="row top-buffer">
    <% @items.each do |item| %>
    <div class="col-md-3">
      <div class="admin-thumbnail">
        <img style="max-height:4em" class="item_image" src=<%= (item.image) %>></img>
        <h6><%= item.title %></h6>
        <p id="admin-item-price"><%= number_to_currency item.final_price %></p>
        <p><%= link_to "Edit", edit_admin_item_path(item) %></p>
      </div>
    </div>
    <% end %>

  </div>
</div>
