<div class="row">
  <div class="col-md-6 col-md-offset-3" id="view-application">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title text-center">
          Your Previous Applications
        </h3>
      </div>
      <div class="panel-body">
        <% if @applications.size > 0 %>
          <table id="applications">
            <tr>
              <th>Time Placed</th>
              <th>Total Applications Sent</th>
              <th>Details</th>
            </tr>
            <% @applications.each do |application| %>
              <tr>
                <td><%= application.created_at.strftime("%m-%d-%Y %I:%M %p") %></td>
                <td><%= application.jobs.size %></td>
                <td><%= link_to "View", application_path(application) %></td>
              </tr>
            <% end %>
          </table>
        <% end %>
      </div>
    </div>
  </div>
</div>
