<div class="row">
  <div class="col-md-6 col-md-offset-3" id="create">
    <div class="panel panel-default">
      <div class="panel-body">

        <div class="row">
          <div class="col-md-6 col-md-offset-3" id="create">
            <h5>Application Status: <%= @application.status.capitalize %></h4>
            <h5>Applied on: <%= @application.created_at.strftime("%m-%d-%Y %I:%M %p") %></h5>

            <table id="user-applications">
              <tr>
                <th>Job Title</th>
              </tr>
              <% @application.jobs.each do |job| %>
                <tr>
                    <tr>
                      <td><%= link_to job.title, company_job_path(job.company.id, job.id) %></td>
                    </tr>
                </tr>
            <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

