<table class='table table-bordered table-hover'>
  <tr>
    <th>Title</th>
    <th>Posted</th>
    <th>Company Name</th>
    <th>Location</th>
  </tr>
  <% jobs.each do |job| %>
    <tr>
      <td><%= link_to job.title, company_job_path(job.company.id, job) %></td>
      <td><%= time_ago_in_words(job.created_at) unless job.created_at.blank? %> ago</td>
      <td><%= link_to job.company.name, company_path(job.company.id) %></td>
      <td><%= job.location %></td>
    </tr>
  <% end %>
</table>
