<div class="row">
  <div class="col-md-12">

    <div class="btn-group">
      <button type="button" class="btn btn-info">Categories</button>
      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <% @categories.each do |category| %>
          <li><%= link_to category.name.capitalize, category_path(category)%></li>
          <li role="separator" class="divider"></li>
        <% end %>
      </ul>
    </div>
      <h1 id="title">Jobs</h1>
      <%= will_paginate %>
      <%= render partial: "show_jobs", locals: {jobs: @jobs} %>
      <%= will_paginate %>
  </div>
</div>
