<div class="row">
  <div class="col-md-10 col-md-offset-1" id="categories">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-6 panel-title text-left">
            <div>
              <h3>Current Job Offerings</h3>
            </div>
          </div>
          <div class="col-md-6 panel-title">
            <%= render partial: "categories/categories" %>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="center">
          <%= will_paginate %>
        </div>
        <%= render partial: "jobs/show_jobs", locals: {jobs: @jobs} %>
        <div class="center">
          <%= will_paginate %>
        </div>
      </div>
    </div>
  </div>
</div>



