<ul>
  <li class="navbar">HOME</li>
  <li class="navbar">ITEMS</li>
  <li class="navbar">CATEGORIES</li>
  <li class="navbar">LOGIN</li>
  <li class="navbar">CART</li>
  <li class="navbar"><a class="button" href="#popup1">About Jurassic Parka</a></li>
        <div id="popup1" class="overlay">
          <div class="popup">
            <a class="close" href="">×</a>
            <div class="content">
              <p>This is a bunch of stuff about Jurassic Parka</p>
            </div>
          </div>
      </div>

</ul>
