<ul id="nav">
  <li class="navbar"><%= link_to "HOME", root_path %></li>
  <li class="navbar"><%= link_to "ITEMS", items_path %></li>
  <li class="navbar">CATEGORIES</li>
  <li class="navbar">LOGIN</li>
  <li class="navbar">CART</li>
  <li class="navbar"><a class="button" href="#popup1">About Jurassic Parka</a></li>
        <div id="popup1" class="overlay">
          <div class="popup">
            <a class="close" href="">×</a>
            <div class="content">
              <p id="about_section">Jurassic Parka was founded on the notion that
              dinosaurs of all shapes and sizes deserve access to the highest
              fashion available for all eras - not just Jurassic. Through rigorous
              study of the fashion industry from the Jurassic era until present
              day, along with the body types of the various (now extinct) species
              we believe we have successfully emobodied was it means to be
              "high fashion", whether you're a carnivore, an herbivore, or somewhere
              in between. Omnivores - we don't judge. You're welcome at the Parka.</p>
            </div>
          </div>
      </div>
</ul>
