<div class="container" id="dashboard">
  <h1>Welcome Back <%= @user.username.capitalize %>!</h1>
  <ul id="admin-list">
    <%if current_user.role == "admin" %>
      <li><%= link_to "Admin Dashboard", admin_dashboard_path %></li>
    <% else %>
      <li><%= link_to "View Past Applications", applications_path %></li>
    <% end %>
  </ul>
  </div>
