<div class="row">
  <div class="col-md-8 col-md-offset-2" id="user_show">

    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <strong>
            <%= @user.username.capitalize %>
          </strong>
          <div class="pull-right">

            <%= link_to "Edit Profile", edit_user_path(@user), method: :get, class: "btn btn-xs btn-primary" %>
          </div>
        </div>
      </div>
      <div class="panel-body">
<div class="row">
  <div class="col-md-8 col-md-offset-2" id="user_show">
        <div class="pull-right">
          <address>
            <strong>Twitter, Inc.</strong><br>
            795 Folsom Ave, Suite 600<br>
            San Francisco, CA 94107<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
          </address>
        </div>
        <div>
          <%if current_user.role == "admin" %>
            <li><%= link_to "Admin Dashboard", admin_dashboard_path %></li>
          <% else %>
            <li><%= link_to "Application History", applications_path %></li>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>




