<div class='row'>
  <div class='col-md-8 col-md-offset-2 welcome'>

    <h1 id="welcome">Technically Employed </h1>
    <form class="form-inline">
      <div class="form-group">
        <label for="exampleInputName2">Job Title</label>
        <input type="text" class="form-control" id="exampleInputName2" placeholder="Ruby on Rails">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail2">Location</label>
        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="City, State, or Zip Code">
      </div>
      <button type="submit" class="btn btn-default">Find Me A Job</button>
    </form>
  </div>
</div>
