<div class="welcome">
  <div id="banner_box">
    <h1 id="welcome">Welcome to</h1>
  </div>
  <% if @items.size > 1 %>
  <div class="home-wrapper">
    <div id="featured"> <h3> Featured Items </h3> </div>
    <div class="row-fluid">
      <div class="carousel slide" id="myCarousel">
        <div class="carousel-inner">
          <div class="item active">
            <%= render partial: "partials/carousel", locals: {items: @items} %>
          </div>
          <div class="item">
            <%= render partial: "partials/carousel", locals: {items: @items} %>
          </div>
          <div class="item">
            <%= render partial: "partials/carousel", locals: {items: @items} %>
          </div>
        </div>
        <a data-slide="prev" href="#myCarousel" class="left carousel-control">‹</a>
        <a data-slide="next" href="#myCarousel" class="right carousel-control">›</a>
      </div>
      <script type="text/javascript">
      $(document).ready(function() {
        $('.carousel').carousel();
      });
      </script>
      <% end %>


      <!-- #three at once with smaller pictures, title, price, and add to cart
      #pull title to left and add line length of carousel 1px solid white -->
    </div>

  </div>
