<h1>Your Orders</h1>
<table>
    <tr>Time Placed</tr>
    <tr>Amount</tr>
    <% @orders.each do |order| %>
      <td><%= order.created_at %></td>
      <td><%= number_to_currency order.total %></td>
      <td><%= link_to "View Order", order_path(order) %></td>
  <% end %>
</table>
