<h1><%=@item.title%> Details</h1>

<div id="item_image"><img src=<%= @item.image %>></img></div>

<div id="description"><%=@item.description%></div>
<ul>
<li class="price_and_quantity"><%=@item.price%></li>
<!-- <li class="price_and_quantity"><%#=@cart.quantity%></li> -->
</ul>
