html {
  background-image: url("jurassic_park_gate.jpg");
  background-size: cover;
}
h1 {
  padding-top: 1em;
  position: relative;
  margin: 0 auto;
  width: 10em;
  color: red;
}
.navbar {
  display: inline;
  margin: 5em;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 25px;
  padding: 10px;
}
