body {
  background-image: url("dinosaur_scene.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
}


.container{
  background-color: #F3F6FA;
  display: grid;
  text-align: center;
}

.row {
  width: 90%;
  margin: 0 auto;
}

.col-sm-12{
  width: 30%;
  height: 24em;
  margin: 1%;
  display: inline;
}

.thumbnail {
  background-color: #83D3C9;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}

.item_image {
    position: relative;
}
.welcome {
  background-color: black;
  background-image: url("jurassic_park_gate.jpg");
  height: 900px;
  background-size: cover;
}

#welcome {
  font-size: 3em;
  font-family: "Jurassic Park", Helvetica, Arial, sans-serif;
  letter-spacing: 0.2em;
  text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
  width: 12em;
  top: 2.5em;
  position: relative;
  margin: 0 auto;
  color: red;
}

#title {
  padding-bottom: 3em;
  text-align: center;
  font-family: "Jurassic Park", Helvetica, Arial, sans-serif;
  letter-spacing: 0.2em;
  text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
  width: 12em;
  top: 2.5em;
  position: relative;
  margin: 0 auto;
  color: red;
}

#Items {
  padding-top: 3em;
  border: 1px solid black;
}

#Item {
  padding-top: 3em;
  text-align: center;
  padding-left: 28em;
}

#CartPage{
  padding-top: 3em;
}

#CartTitle {
  font-family: "Jurassic Park", Helvetica, Arial, sans-serif;
  letter-spacing: 0.2em;
  text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
  top: 2.5em;
  color: red;
}

#CartTable {
  text-align: center;
  font-family: sans-serif;
  background-color: rgba(234,242, 211,0.5);
}

#CartTable th {
    font-size: 1.1em;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #A7C942;
    color: #ffffff;
}

#CartTable td {
    color: #000000;
    position: relative;
    width: 100em;
    margin: 0 auto;
}

.flash_error {
  color: red;
}

.flash_message {
  color: green; 
}
