
body {
 background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
 url("people-office-group-team.jpg");
 background-size: 100%;
}

.white-text {
  color: white;
}

td {
  padding: 10px;
}

th {
  padding: 10px;
}

.center {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}


