body {
  background-image: image-url("dinosaur_scene.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
}

.container{
  background-color: #F3F6FA;
  display: grid;
  text-align: center;
}

#categories{
  width: 20em;
  margin: 10% auto;
}

.row {
  width: 90%;
  margin: 0 auto;
}

.col-sm-12{
  width: 30%;
  height: 24em;
  margin: 1%;
  display: inline;
}

.thumbnail {
  background-color: #83D3C9;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}

.item_image {
  position: relative;
}

.welcome {
  background-color: #5A725B;
  height: 100%;
  z-index: -2;
  -webkit-box-shadow: inset 0px -40px 60px -9px rgba(68,84,68,1);
  -moz-box-shadow:    inset 0px -40px 60px -9px rgba(68,84,68,1);
  box-shadow:         inset 0px -40px 60px -9px rgba(68,84,68,1);
}

#banner_box {
  background-size: cover;
  width: 100%;
  height: 33em;
  background-image: image-url("jurassic_park_gate.jpg");
  -webkit-box-shadow: inset 0px -46px 72px 0px rgba(91,115,93,1);
  -moz-box-shadow: inset 0px -46px 72px 0px rgba(91,115,93,1);
  box-shadow: inset 0px -46px 72px 0px rgba(91,115,93,1);
}

#welcome {
  font-size: 3em;
  font-family: "Jurassic Park", Helvetica, Arial, sans-serif;
  letter-spacing: 0.2em;
  text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
  width: 12em;
  top: 2.5em;
  position: relative;
  margin: 0 35%;
  color: red;
}

#title {
  padding-bottom: 1em;
  text-align: center;
  font-family: "Jurassic Park", Helvetica, Arial, sans-serif;
  letter-spacing: 0.2em;
  text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
  position: relative;
  margin: 0 auto;
  color: red;
}

#Items {
  padding-top: 3em;
  border: 1px solid black;
}

#Item {
  padding-top: 3em;
  text-align: center;
  padding-left: 28em;
}

#CartPage{
  width: 80%;
  height: auto;
  margin: 8% auto;
}

#CartTitle {
  font-family: "Jurassic Park", Helvetica, Arial, sans-serif;
  letter-spacing: 0.2em;
  text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
  top: 2.5em;
  color: red;
}

#CartTable {
  text-align: center;
  font-family: sans-serif;
  background-color: rgba(234,242, 211,0.5);
}

#CartTable th {
  font-size: 1.1em;
  padding-top: 5px;
  padding-bottom: 4px;
  background-color: #A7C942;
  color: #ffffff;
}

#CartTable td {
  color: #000000;
  position: relative;
  width: 100em;
  margin: 0 auto;
}

.box {
  float:left;
  width: 20%;
  background: rgba(255,255,255,0.3);
  padding: 20px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  text-align: center;
  border-radius: 25px;
  background-image: image-url("paper.gif");
  background-position: left top;
  background-repeat: repeat;
  padding: 20px;
  width: 200px;
  height: 150px;
}

.overlay {
  position: fixed;
  transition: opacity 2000ms;
  visibility: hidden;
  opacity: 0;
  z-index: 3;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  -webkit-box-shadow: 0px 0px 0px 100em rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 0px 100em rgba(0,0,0,0.75);
  box-shadow: 0px 0px 0px 100em rgba(0,0,0,0.75);
  margin: 10% auto;
  padding: 20px;
  border-radius: 5px;
  width: 50%;
  position: relative;
  background-color: black;
  border-radius: 25px;
  background-image: image-url("paper.gif");
  background-position: left top;
  background-repeat: repeat;
  padding: 20px;
  z-index: 80;
}

.popup .close {
  margin: .1em;
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  opacity: 100;
}

.popup .close:hover {
  color: green;
}

.popup .content {
  -webkit-box-shadow: 0px 0px 41px 13px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 41px 13px rgba(255,255,255,1);
  box-shadow: 0px 0px 41px 13px rgba(255,255,255,1);
  padding: 25px;
  color: black;
  max-height: 30%;
  overflow: auto;
  font-weight: bolder;
  line-height: 1.5em;
  letter-spacing: 0.2em;
}

ul {
  list-style-type: none;
  list-style:none;
  padding-left:0;
}

#login {
  margin: 10% auto;
  width: 25%;
  height: 28%;
  padding: 1%;
}

.flash_notice {
  color: green;
  width: 20em;
  margin: -3.5% 40%;
  border-radius: 5px;
  padding: 0;
  position: fixed;
  z-index: 1;
  transition: opacity 2000ms;
  background-color: black;
}

.flash_error {
  color: red;
  width: 20em;
  margin: -3.5% 40%;
  border-radius: 5px;
  padding: 0;
  position: fixed;
  z-index: 1;
  transition: opacity 2000ms;
  background-color: black;
}

.navbar {
  background-color: #776451;
}

.carousel {
  width: 65%;
  height: auto;
  margin: -25% auto;
  border-radius: 60px;
    background-image: image-url("paper.gif");
  -webkit-box-shadow: 0px 0px 44px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 44px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 44px 0px rgba(0,0,0,0.75);
}

.carousel-inner {
  width: 100%;
  height: 60%;
  margin: -27% auto;
}

.carousel-control {
  border-radius: 25px;
  width: 2em;
}

.slide {
  padding-left: 10%;
  background-color: white;
}
