html {
  background-image: url("jurassic_park_gate.jpg");
  background-size: cover;
}

h1 {
  font-size: 3em;
  font-family: "Jurassic Park", Helvetica, Arial, sans-serif;
  letter-spacing: 0.2em;
  text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
  width: 12em;
  top: 2em;
  position: relative;
  margin: 0 auto;
  color: red;
}
