<div class="container">
  <h1>Admin Dashboard</h1>
  <ul id="admin-list">
    <li><br></li>
    <li><br></li>
    <li><br></li>
    <li><%= link_to "Create a Sale", new_admin_sale_path %><br><li>
    <li><%= link_to "View Current Sales", admin_sales_path %></li>
    </ul>
  </div>
